.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  padding-top: 7rem;
  background-color: #E6ECF0;
}

.site-logo {
  width: 4rem;
  height: 4rem;
  float: left;
  /* cancel out rightward push on App-title */
  margin-right: -4rem;
}